html {
    font-family: "Ubuntu", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #242424;
    background-color: #f2f2f2;
}

input,
button {
    outline: none;
}

a {
    text-decoration: none;
    color: #242424;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.conteiner {
    margin: 0 auto;
    padding: 0;
    max-width: 1170px;
}

/* header top ----------------------------------------------------*/
.header-top .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search,
.user {
    width: 280px;
}

.header-search button {
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #d3ebf0;
}

.logo {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 90px;
}

.logo span {
    font-weight: 300;
}

.user {
    text-align: right;
}

.cart {
    margin-left: 30px;
    text-align: center;
}

.cart img {
    margin-bottom: -4px;
    margin-right: 5px;
}

.cart::before {
    /*margin-right: -30px;*/
    display: inline-block;
    position: relative;
    top: -12px;
    right: -30px;
    content: "2";
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: .75rem;
    line-height: 15px;
    color: #232323;
    text-align: center;
    background-color: #fedad0;
}

/* main menu -----------------------------------------------------*/
.header-bottom {
    margin-bottom: 30px;
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.header-menu {
    display: flex;
    font-size: .875rem;
    font-weight: 300;
    line-height: 68px;
}

.header-menu li + li {
    margin-left: 34px;
}

.menu-sale {
    font-weight: 700;
}

.slider {
    margin-bottom: 30px;
}

.slide-1 {
    padding: 40px;
    width: 1170px;
    height: 450px;
    background: url("../image/mainBanner1.png") center center no-repeat;
    box-sizing: border-box;
}

.slide-title {
    display: block;
    padding: 80px 0 120px;
    font-size: 5rem;
    color: #242424;
}

.slide-title span {
    color: #fff;
}

.slide-1 a {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.slide-1 a img {
    margin-left: 10px;
}

.slide-1::before {
    position: relative;
    left: -40px;
    top: -58px;
    content: '';
    border-bottom: 450px solid #D2EBEF;
    border-left: 350px solid transparent;
    border-right: 250px solid transparent;
    height: 90px;
    width: 20px;
}

#trapezoid {
    margin-left: 50px;
    border-bottom: 300px solid #D2EBEF;
    border-left: 0 solid transparent;
    border-right: 200px solid transparent;
    height: 0;
    width: 200px;
}