html {
    font-family: Arial, sans-serif;
    color: #282828;
    font-size: 14px;
    line-height: 1.286;
    background: #555;
}
body {
    width: 920px;
    margin: auto;
    counter-reset: pages;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    position: relative;
    margin: 0;
    padding: 13px 13px 13px 63px;
    background: #fff;
    counter-increment: pages;
}

li:nth-child(even) {
    background: #ccc;
}

li::before {
    content: counter(pages);
    font-family: "Times New Roman", serif;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background: #ff5353;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    float: left;
}

li:nth-child(even)::before {
    background: #a33535;
}