html {
    font-family: Arial, sans-serif;
    color: #282828;
    font-size: 14px;
    line-height: 18px;
    background: #555;
}
body {
    width: 920px;
    margin: auto;
    counter-reset: pages;
}

p {
    position: relative;
    margin: 0;
    padding: 13px 0;
    background: #fff;
    counter-increment: pages;
}

p:nth-child(even) {
    background: #ccc;
}

p::before {
    content: counter(pages);
    font-family: "Times New Roman", serif;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background: #ff5353;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
}

p:nth-child(even)::before {
    background: #a33535;
}